{% extends 'products/base.html' %}
{% block content %}
	<br><br><br>
	<form method="POST" action="{% url 'register' %}">
		{% csrf_token %}
		<label>First Name</label>
		<input type="text" name="first_name">
		<br>
		<label>Last Name</label>
		<input type="text" name="last_name">
		<br>
		<label>Email</label>
		<input type="text" name="email">
		<br>
		<label>Username</label>
		<input type="text" name="username">
		<br>
		<label>Password</label>
		<input type="password" name="password">
		<br>
		<input class="btn btn-info" type="submit" value="Sign Up">
	</form>
	{% if success %}
	<script type="text/javascript">
	    alert({{ success }});
	    window.location.href("{% url 'login' %}");
	</script>
	    
	</ul>
	{% endif %}
{% endblock %}